.hero {
    width: 100%;
    min-height: 100vh;
    background:   url(../../../public//assets//wallpaper4.jpg) ;
    background-size: cover;
    background-position: center;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-margin-top: 100px;
    /* background: linear-gradient(rgba(211, 231, 214, 0.43), rgba(211, 231, 214, 0.43)), ---------linear-gradient(rgba(212, 214, 212, 0.441), rgba(211, 231, 214, 0.441)),*/  

}
.hero-text{
    text-align: center;
    max-width: 800px;

}
.hero-text h1{
    font-size: 40px;
    font-weight: 700;
    color: black ;
     text-shadow: 2px 2px 4px white  ;}
     text-
.hero-text p{
    max-width: 700px;
    margin: 10px auto 20px;
    
    line-height: 1.4;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
}